<body>
    <div class="main">
        <form (ngSubmit)="editarProducto()">
            <div class="input-group mb-3">
                <span class="input-group-text">Nombre de producto: </span>
                <input type="text" class="form-control" placeholder="Polera polo roja" aria-label="Nombre" [(ngModel)]="producto.nombre" name="nombre">
            </div>  
              
            <div class="input-group mb-3">
                <span class="input-group-text">Descripción: </span>
                <input type="text" class="form-control" placeholder="Polera polo roja de algodón del colegio Alcántara."  [(ngModel)]="producto.descripcion" name="descripcion" >
            </div>
            
            <div>
                Sube una foto:
                <div class="mb-3">
                  <input (change)="subirArchivo($event)" class="form-control" type="file" id="formFile">
                </div>
            </div>
            <div>
                <img src="{{ producto?.img_url}}" alt="" width="300">
            </div>
            <br>
            <div class="d-flex">
                <span style="width: 200px;">Talla</span>
                <span style="width: 200px;">Cantidad</span>
                <span style="width: 200px;">Precio</span>
                <span style="width: 200px;">Ubicación</span>
            </div>
            <div class="d-flex text-center" *ngFor="let talla of producto.talla; let i = index;">

                <span style="width: 200px;" class="input-group-text">{{talla.n_talla}}</span>
              
                <input style="margin-left: auto; width: 200px;" type="number" min="0" class="form-control" name="cantidad{{i}}" [(ngModel)]="producto.talla[i].cantidad" value="">

                <input style="margin-left: auto; " type="number" min="0" class="form-control" name="precio{{i}}" [(ngModel)]="producto.talla[i].precio" value="">

                <input style="margin-left: auto; " type="text"class="form-control" name="ubicacion{{i}}" [(ngModel)]="producto.talla[i].ubicacion" value="">
              
            </div>
            
            <div class="d-flex justify-content-center pt-2" >
                <button type="submit" class="btn btn-success">Actualizar</button>
            </div>

        </form>
    </div>
</body>
