<app-navbar *ngIf="rutaActual == '/colegios'"></app-navbar>
<body>
    <div class="main">
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Nombre completo</th>
                    <th>Región</th>
                    <th>Comuna</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let colegio of colegios; let i = index ">
                  <td>
                    <ng-container *ngIf="!editMode[i]; else editModeNombre">
                        {{ colegio.nombre }}
                    </ng-container>
                    <ng-template #editModeNombre>
                        <input [(ngModel)]="colegioEnEdicion.nombre" />
                    </ng-template>
                  </td>
                  <td>

                    <ng-container *ngIf="!editMode[i]; else editModeFullname">
                      {{ colegio.fullname }}
                    </ng-container>
                    <ng-template #editModeFullname>
                      <input [(ngModel)]="colegioEnEdicion.fullname" />
                    </ng-template>
                  </td>

                  <td>
                    <ng-container *ngIf="!editMode[i]; else editModeRegion">{{ colegio.region}}</ng-container>
                    <ng-template #editModeRegion><input [(ngModel)]="colegioEnEdicion.region" /></ng-template>
                  </td>

                  <td>
                    <ng-container  *ngIf="!editMode[i]; else editModeComuna">{{ colegio.comuna}}
                    </ng-container>
                    <ng-template #editModeComuna><input [(ngModel)]="colegioEnEdicion.comuna" /></ng-template>
                  </td>
            
                  <td>
                    <ng-container *ngIf="!editMode[i]; else editActionsTemplate">
                      <i class="fa-solid fa-eye text-primary pointer"></i>
                      <i class="fa-solid fa-pen-to-square text-success pointer" (click)="editarColegio(i, colegio)"></i>
                      <i class="fa-solid fa-trash text-danger pointer"></i>
                    </ng-container>
                    <ng-template #editActionsTemplate>
                      <i class="fa-solid fa-check text-success pointer" (click)="guardarEdicion(i)"></i>
                      <i class="fa-solid fa-times text-danger pointer" (click)="cancelarEdicion(i)"></i>
                    </ng-template>
                  </td>
                </tr>
              </tbody>
        </table>

    </div>
</body>
<app-add-colegio *ngIf="rutaActual == '/colegios'"></app-add-colegio>