<body>
    <br>
    <div class="main">
        <div class = "p-3 container m-auto rounded bg-light p-10 m-10 shadow-sm">
            <h2>COLEGIOS</h2>
            <div *ngFor = "let colegio  of colegios$ | async">
                <div class = "nom-colegio" routerLink="/productos/{{ colegio.id }}">{{colegio.nombre}}</div>
            </div>
            <button type="button" class="btn btn-outline-success" routerLink="/add-colegio/">+ Agrega un nuevo colegio</button>
        </div>
    </div>
</body>