body{
    max-width: 1324;
    margin: auto;
}

.container{
    max-width: 1000px;
    margin: auto;
    text-align: center;
}

h2{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 80px;
}

.nom-colegio{
    font-size: 40px;
    font-family: 'Nunito Sans', sans-serif;
    cursor: pointer;
}