<nav class="navbar navbar-expand-lg fixed-top blur-effect d-flex justify-content-around">
  <div class="container barra">
    <a class="navbar-brand text-dark" routerLink="">Inicio
      <i class="fa-solid fa-house"></i>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">

        <li class="nav-item me-4">
          <a *ngIf="ruta=='/'" class="nav-link active" aria-current="page" routerLink="/colegios">Colegios
            <i class="fa-solid fa-school"></i>
          </a>
          <a *ngIf="ruta!='/'" class="nav-link active" aria-current="page" routerLink="../colegios">Colegios
            <i class="fa-solid fa-school"></i>
          </a>
        </li>

        <li class="nav-item me-4">
          <a *ngIf="ruta=='/'" class="nav-link active" aria-current="page" routerLink="/vender">Vender
            <i class="fa-solid fa-cart-shopping"></i>
          </a>
          <a *ngIf="ruta!='/'" class="nav-link active" aria-current="page" routerLink="../vender">Vender
            <i class="fa-solid fa-cart-shopping"></i>
          </a>
        </li>

        <li class="nav-item me-4">
          <a *ngIf="ruta=='/'" class="nav-link active" aria-current="page" routerLink="/ventas">Historial de Ventas
            <i class="fa-brands fa-sellsy"></i>
          </a>
          <a *ngIf="ruta!='/'" class="nav-link active" aria-current="page" routerLink="../ventas">Historial de Ventas
            <i class="fa-brands fa-sellsy"></i>
          </a>
        </li>

        <li class="nav-item me-4 mr-auto">
          <a *ngIf="ruta=='/'" class="nav-link active" aria-current="page" routerLink="/all-productos">Productos
            <i class="fa-solid fa-shirt"></i>
          </a>
          <a *ngIf="ruta!='/'" class="nav-link active" aria-current="page" routerLink="../all-productos">Productos
            <i class="fa-solid fa-shirt"></i>
          </a>
        </li>

        <li class="nav-item ml-auto" (click)="logout()">
          <a href="#" class="nav-link active" aria-current="page" >Cerrar sesión
            <i class="fa-solid fa-right-from-bracket"></i>
          </a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>

<br>
<br>