
<nav class="fixed-bottom blur-effect barra">
  <div class="main mx-auto">
    <ul class="d-flex align-items-center justify-content-between pt-2 m-0 pe-4">
      <li><a routerLink="/"><i class="fa-solid fa-house"></i><p>Inicio</p></a></li>
      <li><a routerLink="/colegios"><i class="fa-solid fa-school"></i><p>Colegios</p></a></li>
      <li><a routerLink="/vender"><i class="fa-solid fa-cart-shopping"></i><p>Vender</p></a></li>
      <li><a routerLink="/ventas"><i class="fa-brands fa-sellsy"></i><p>Ventas</p></a></li>
      <li><a routerLink="/all-productos"><i class="fa-solid fa-shirt"></i><p>Productos</p></a></li>
    </ul>
  </div>
</nav>
