<body>
    <div class="main">
      <form (ngSubmit)="editarColegio()">
  
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Nombre: </span>
          <input type="text" class="form-control"   aria-describedby="basic-addon1" [(ngModel)]="colegio.nombre" name="colegio" required>
        </div>
      
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Nombre completo: </span>
          <input type="text" class="form-control" aria-describedby="basic-addon1" [(ngModel)]="colegio.fullname" name="fullname" required>
        </div>
        
        
        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-outline-success">Actualizar</button>
        </div>
        
      </form>
    </div>
  </body>