<body>
    <div class="main">
        <form (ngSubmit)="onSubmit()">
          <h1 class="text-center">Agrega un material</h1>
            <div class="input-group mb-3">
                <span class="input-group-text">Nombre: </span>
                <input [(ngModel)]="material.nombre" type="text" class="form-control"  aria-label="Nombre" name="nombre">
            </div>  
              
            <div class="input-group mb-3">
                <span class="input-group-text">Descripción: </span>
                <input [(ngModel)]="material.descripcion" type="text" class="form-control"  name="descripcion" >
            </div>
            
            <div>
              <div class="mb-3">
                <label for="formFile" class="form-label">Sube una foto:</label>                
                <input (change)="detectFile($event)" class="form-control" type="file" id="formFile" accept="image/png, image/jpeg">
                </div>
            </div>

            <label for="categoria">Categoría: </label>
            <select id="categoria" [(ngModel)]="material.categoria" class="form-select" name="categoria">

                <option value="telas" id="telas">
                    Telas
                </option>
                <option value="herramientas" id="herramientas">
                    Herramientas
                </option>
                <option value="hilos" id="hilos">
                    Hilos
                </option>
                <option value="prendas" id="prendas">
                    Prendas
                </option>
                <option value="otros" id="otros">
                    Otros
                </option>                
            </select>
            <div class="d-flex">

                <label for="cantidad">Cantidad: </label>
                <input name="cantidad" [(ngModel)]="material.cantidad" class="form-control" type="number">

                <label class="form-label" for="unidadMedida">Unidad: </label>
                <select [(ngModel)]="material.unidadMedida" class="form-select" name="unidadMedida" id="unidadMedida">
                    <option value="kilogramos">Kilogramos</option>
                    <option value="unidades">Unidades</option>
                    <option value="metros">Metros</option>
                    <option value="centrimetros">Centímetros</option>
                    <option value="otro">Otro(especificar)</option>
                </select>

            </div>

            
            <label class="form-label" for="ubicacion">Ubicación: </label>
            <input [(ngModel)]="material.ubicacion" class="form-control" name="ubicacion" type="text">

            <h1>Proveedor</h1>

            <div class="form-check">
                <input class="form-check-input" type="radio" name="existencia" [(ngModel)]="existencia" value="1" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  Existente
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="existencia" [(ngModel)]="existencia" value="2"  id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                    Nuevo
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="existencia" [(ngModel)]="existencia" value="3"  id="flexRadioDefault3">
                <label class="form-check-label" for="flexRadioDefault3">
                    No especificar
                </label>
            </div>
            <div *ngIf="existencia == 1">
                <select class="form-select">
                    <option *ngFor="let proveedor of proveedores" value="">{{proveedor?.nombre}}</option>
                </select>
            </div>
            
            <div *ngFor="let p of proveedores">
                {{p.nombre }}

            </div>

            <div *ngIf="existencia == 2">
                <label class="form-label" for="nombre">Nombre: </label>
                <input class="form-control" [(ngModel)]="material.proveedor.nombre" name="proveedor.nombre" type="text" id="nombre">

                <label class="form-label" for="fono">Teléfono: </label>
                <input class="form-control" [(ngModel)]="material.proveedor.fono" name="proveedor.fono" type="text" id="fono">

                <label class="form-label" for="direccion">Dirección: </label>
                <input class="form-control" [(ngModel)]="material.proveedor.direccion" name="proveedor.direccion" type="text" id="direccion">
            </div>

            <div class="d-flex justify-content-center pt-2" >
                <button type="submit" class="btn btn-success">Agregar material</button>
                
            </div>
        </form>
    </div>
</body>
