
<body>
    <form (ngSubmit)="onSubmit()">    
            <label for="colegio">Colegio</label>
            <div>
                <select id="colegio" class="form-select" (change)="colegioSelected($event)" [(ngModel)]="agregando_prod.colegio" name="colegio">

                    <option *ngFor="let colegio of colegios" value="{{colegio?.nombre}}" id="{{colegio?.id}}">
                        {{ colegio?.nombre }}
                    </option>
                </select>
            </div>
        <br>

        <label for="producto">Producto</label>
        <div>
            <select id="producto" class="form-select" (change)="productoSelected($event)" [(ngModel)]="agregando_prod.nombre" name="nombre">
                <option *ngFor="let producto of prodsFiltrados" value="{{producto?.nombre}}" id="{{ producto?.id }}">
                    {{ producto?.nombre }}
                </option>
            </select>
        </div>
        <br>

        <label for="talla">Talla</label>
        <div>
            <select id="talla" class="form-select" (change)="tallaSelected($event)" [(ngModel)]="agregando_prod.n_talla" name="n_talla">
                <option *ngFor="let talla of tallas" value="{{ talla?.n_talla }}">
                    <span class="talla">Talla {{ talla?.n_talla }}: </span> 
                    <span class="unidades">{{ talla?.cantidad }} unidades</span>
                </option>
            </select>
            <br>
        </div>

        <div>
            <span>Ingrese cantidad a agregar:  </span>
            <input type="number" [(ngModel)]="agregando_prod.cantidad" value="1" min="1" name="cantidad">
        </div>

        <div *ngIf="bool_colegio == true && bool_producto == true && bool_talla == true">
            <button type="submit" class="btn btn-success">Agregar</button>
        </div>

    </form>
    <br>
    <h1>Resumen de venta: </h1>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nombre de producto</th>
                <th>Colegio</th>
                <th>Talla</th>
                <th>Unidades</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of resumen">
                <td>{{ item?.id }}</td>
                <td>{{ item?.nombre }}</td>
                <td>{{ item?.colegio }}</td>
                <td>{{ item?.n_talla }}</td>
                <td>{{ item?.cantidad }}</td>
                <td>
                    <i class="fa-solid fa-trash"></i>
                </td>
            </tr>
        </tbody>
        
    </table>
</body>