
<body>
    <div>
        Seleccione colegio:
    </div>
    <div class="custom-select-wrapper">
        <select #customSelect (change)="onOptionSelected(customSelect.value)">
            <option value="" disabled selected>Sin seleccionar</option>
            <option *ngFor="let colegio of colegios" class="custom-select" style="width:200px;" value="{{ colegio.id }}">
                {{ colegio.nombre }}
            </option>
        </select>
    </div>

    <div *ngIf="colegioSeleccionado == true" class="custom-select-wrapper">
        <select #customSelect (change)="onOptionSelected(customSelect.value)">
            <option value="" disabled selected>Sin seleccionar</option>
            <option *ngFor="let producto of prodsFiltrados " class="custom-select" style="width:200px;" value="{{ producto.id }}">
                {{ producto.nombre }}
            </option>
        </select>
    </div>

</body>