
  .custom-select-wrapper {
    position: relative;
    width: 200px;
  }

  .main{

  }

  .selected-option {
    color: #999;
  }

  .fas.fa-chevron-down {
    color: #999;
  }

  .talla{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
  }

  .unidades{
    color: red;
  }

  body{
    max-width: 1324px;
    margin: auto;
    padding: 10px;
    padding-top: 50px;
    font-family: 'Nunito Sans', sans-serif;
    color: black;
    font-weight: 900;
  }

  .pointer{
    cursor: pointer;
  }