<tr *ngIf="showFormulario">
  <td><input class="form-control" [(ngModel)]="colegio.nombre"/></td>

  <td><input class="form-control" [(ngModel)]="colegio.fullname" /></td>

  <td>
    <select class="form-select mb-3 me-2"  id="region" (change)="cargarComunas($event)">
    <option value="0">Seleccione una región</option>
    <option *ngFor="let r of regiones"> {{r.region}} </option>
  </select>
  </td>

  <td>
    <select class="form-select mb-3 me-2"  id="region" (change)="cargarComunas($event)">
      <option value="0">Seleccione una región</option>
      <option *ngFor="let r of regiones"> {{r.region}} </option>
    </select>
  </td>
  <td>
    <i class="fa-solid fa-check text-success pointer" type="submit"></i>
    <i class="fa-solid fa-times text-danger pointer"></i>
  </td>
</tr>




  <div *ngIf="showFormulario" class="main">
    <form (ngSubmit)="agregarColegio()">
      <div class="d-flex justify-content-between">
        <div class="nombre">
          <input class="form-control" [(ngModel)]="colegio.nombre"/>
        </div>
        
        <div class="fullname">
          <input class="form-control" [(ngModel)]="colegio.fullname" />
        </div>

        <div class="region">
          <select class="form-select mb-3 me-2"  id="region" (change)="cargarComunas($event)">
            <option value="0">Seleccione una región</option>
            <option *ngFor="let r of regiones"> {{r.region}} </option>
          </select>
        </div>
        
        <div class="comuna">
          <select class="form-select mb-3" id="comuna" (change)="asignarComuna($event)">
            <option value="0">Seleccione una comuna</option>
            <option *ngFor="let c of comunas"> {{c}} </option>  
          </select>
        </div>
        
        
        <div>
          <i class="fa-solid fa-check text-success pointer" type="submit"></i>
          <i class="fa-solid fa-times text-danger pointer"></i>
        </div>
      </div> 
            

      <button type="submit" class="btn color-boton fw-bold">Agregar colegio</button> 
    </form>
  </div>
  <div class="d-flex justify-content-center">
    <button type="button" class="btn btn-success" (click)="mostrarFormulario()">Agrega un nuevo colegio</button>
  </div>