<body>
  <div class="main">
    <form (ngSubmit)="agregarColegio()">
      <h2 class="text-center">Agrega un colegio</h2>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Nombre: </span>
        <input [(ngModel)]="colegio.nombre" name="nombre" type="text" class="form-control" #nombre aria-describedby="basic-addon1">
      </div>
    
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Nombre completo: </span>
        <input [(ngModel)]="colegio.fullname" name="fullname" type="text" #fullname class="form-control" #nombre aria-describedby="basic-addon1">
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <select class="form-select mb-3 me-2"  id="region" (change)="cargarComunas($event)">
              <option value="0">Seleccione una región</option>
              <option *ngFor="let r of regiones"> {{r.region}} </option>
            </select>
          </div>

          <div class="col-md-6 col-sm-12">
            <select class="form-select mb-3" id="comuna" (change)="asignarComuna($event)">
              <option value="0">Seleccione una comuna</option>
              <option *ngFor="let c of comunas"> {{c}} </option>  
            </select>            
          </div>
          
  
          
        </div>
      </div>
      
      
      <div class="d-grid gap-2">
        <button type="submit" class="btn btn-outline-success">Agregar colegio</button>
      </div>
      
    </form>
  </div>
</body>