body{
    margin: auto;
    max-width: 1324px;
}

.form-floating input:focus {
    border-color: #268116; /* Cambia "red" al color deseado */
    box-shadow: 0 0 0 0.25rem #268116; /* Cambia "red" al color deseado */
    opacity: 50%;
}

.form-select:focus {
    border-color: #268116; /* Cambia "red" al color deseado */
    opacity: 50%;
}

.main{
    max-width: 1324px;
    margin: auto;
    margin-top: 20px;
    padding: 40px;
    background-color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    border: 3px solid;
    border-color: #268116;
    border-style: solid;
    border-radius: 8px; 
}

h2{
    color: #268116;
    font-weight: 600;
    margin-block: 20px;
}

.color-boton{
    background-color: #268116;
    color: white;
}