<body>
  <div class="d-flex justify-content-center">
    <button type="button" class="btn btn-success" (click)="mostrarFormulario()">Agrega un colegio +</button>
  </div>
  
  <div *ngIf="!showFormulario" class="main">
    <form (ngSubmit)="agregarColegio()">

      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>
        <div class="form-floating mb-3">
          <input [(ngModel)]="colegio.nombre" name="nombre" type="text" class="form-control" id="floatingInput" >
          <label for="floatingInput">Nombre</label>
        </div>

        <div class="form-floating mb-3">
          <input [(ngModel)]="colegio.fullname" name="fullname" type="text" class="form-control" id="fullname">
          <label for="fullname">Nombre completo</label>
        </div>

          

          <select class="form-select mb-3 me-2"  id="region" (change)="cargarComunas($event)">
            <option value="0">Seleccione una región</option>
            <option *ngFor="let r of regiones"> {{r.region}} </option>
          </select>



        <select class="form-select mb-3" id="comuna" (change)="asignarComuna($event)">
          <option value="0">Seleccione una comuna</option>
          <option *ngFor="let c of comunas"> {{c}} </option>  
        </select>             
      
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn color-boton fw-bold">Agregar colegio</button>
      </div>         
    </form>
  </div>
</body>