body{
    margin: auto;
    max-width: 1324px;
}

.main{
    max-width: 1324px;
    margin: auto;
    background-color: #ffffff; 
}


.nombre{
    width: 150px;
}

.fullname{
    width: 350px;
}

.region{
    width: 250px;
}

.comuna{
    width: 150px;
}

.accion{
    width: 80px;
}