
<body>
    
    <div class="main">
        <h1> {{colegio?.fullname}}</h1>   
        <div *ngIf="prodsFiltrados.length > 0" class="d-flex">
        <div *ngFor="let producto of prodsFiltrados">
            <div class="card cardimg shadow-sm" style="width: 300px">
                <img src="{{ producto?.img_url }}" routerLink="/producto/{{ producto.id }}" class="card-img-top img_producto">
                <div class="card-body">
                    <p class="card-text fs-4 nombre">{{ producto?.nombre }}</p>
                    <p class="card-text text fs-6 descripcion">{{ producto?.descripcion }}</p>
                </div>
            </div>
        </div>
        </div>
        <div *ngIf="prodsFiltrados.length == 0">
            Aún no hay productos registrados para este colegio.             
        </div>
        <button type="button" class="btn btn-outline-success" routerLink="/add-producto/{{ colegio.id }}">Agrega un producto para este colegio</button>
        
    </div>
        
  </body>
