<body>    
    <div class="main">
        <h1 class="text-center">{{colegio?.fullname}} <a class="text-center" routerLink="../../edit-colegio/{{ colegio?.id }}"><i class="fa-solid fa-pen"></i></a></h1>
           
        <div *ngIf="prodsFiltrados.length > 0" class="mx-auto">
            <div *ngFor="let producto of prodsFiltrados">
                <div  class="card cardimg shadow-sm mx-auto m-2" style="max-width: 300px;" routerLink="/producto/{{ producto?.id }}">
                    <div>
                        <img src="{{ producto?.img_url }}" class="card-img-top img_producto">
                    </div>
                    <div *ngIf="producto.img_url == null">
                        <img src="https://firebasestorage.googleapis.com/v0/b/inventario-cyc.appspot.com/o/images%2Fsinimagen.jpg?alt=media&token=2a3a77a2-a45f-4f30-9b92-9ed13a3a91fd" routerLink="/producto/{{ producto?.id }}" class="card-img-top img_producto">
                    </div>
                    <div class="card-body">
                        <p class="card-text fs-4 nombre">{{ producto?.nombre }}</p>
                        <p class="card-text text fs-6 descripcion">{{ producto?.descripcion }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="prodsFiltrados.length == 0">
            Aún no hay productos registrados para este colegio.             
        </div>
        
        <div class = "justify-content-center pb-2">
            <button type="button" class="btn btn-outline-success" routerLink="/add-producto/{{ colegio?.id }}">Agrega un producto para este colegio</button>
        </div>
        
    </div>       
</body>
