<body>
    <div class="main shadow-sm">
        <h1>
            {{producto?.nombre}}
        </h1>
        <p>{{ producto?.descripcion}}</p>
        <img src="{{ producto?.img_url}}" alt="" width="300">
        <h1>Tallas</h1>
        <table class = "table table-bordered border-success">
            <thead>
                <tr>
                    <th *ngFor = "let talla of producto?.talla"> {{ talla?.n_talla }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td *ngFor = "let talla of producto?.talla">{{ talla?.cantidad}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
