<body>
    <div class="main shadow-sm">
        <h1>
            {{producto?.nombre}}
        </h1>
        <a routerLink="../../edit-producto/{{ producto?.id }}">Editar producto</a>
        <p>{{ producto?.descripcion }}</p>
        <div *ngIf="producto?.img_url">
            <img src="{{ producto?.img_url}}" alt="" width="300">
        </div>
        <div *ngIf="producto?.img_url == null">
            <img src="https://firebasestorage.googleapis.com/v0/b/inventario-cyc.appspot.com/o/images%2Fsinimagen.jpg?alt=media&token=2a3a77a2-a45f-4f30-9b92-9ed13a3a91fd" alt="" width="300">
        </div>
        
        <h1>Tallas</h1>
        <table class = "table table-bordered border-success">
            <thead>
                <tr>
                    <th *ngFor = "let talla of producto?.talla"> {{ talla?.n_talla }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td *ngFor = "let talla of producto?.talla">{{ talla?.cantidad}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
