<body>
    <h1>Historial de Ventas</h1>
    <table class="table table-striped table-hover text-center">
        <thead>
            <tr>
                <th>Folio</th>
                <th>Producto(s)</th>
                <th>Fecha</th>
                <th>Total</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let v of ventas">
                <td>{{ v.idVenta }}</td>
                <td>
                    <div *ngFor="let r of v.resumen">{{ r.nombre }} </div>
                </td>
                <td>{{ v.fecha }}</td>
                <td>{{ v.total | pesoChileno }}</td>
                <td> <a href="venta/{{v.id}}">ver venta</a></td>
            </tr>
        </tbody>
    </table>
</body>