body{
    max-width: 1324px;
    margin-top: 10px;
    margin: auto;
    
}

.font{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #d50636;
}

.title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 30px;
    background-color: #268116;
    color: #fff;
    border-radius: 8px 8px 0px 0px;
    margin-bottom: -2px;
  }
  