<app-navbar *ngIf="ruta=='/all-productos'"></app-navbar>
<body>
    <div class="main">
        <div class="container-xxl">
            <div class="row">
                <div class="d-flex justify-content-start mt-3">
                    <h3 class="text-success">Todos los productos</h3>
                </div>
                <div class="d-flex justify-content-end">
                    <button class="btn btn-success " type="button" routerLink="/add-product-noschool/">Agrega un nuevo producto</button>
                </div>
              <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12" *ngFor="let producto of productos">
                <div class="card cardimg shadow-sm mx-auto">
                    <div *ngIf="producto.img_url != '' " >
                        <img src="{{ producto?.img_url }}" routerLink="/producto/{{ producto?.id }}" class="card-img-top img_producto" style="max-width: 100%; height: 350px;">
                    </div>
                    <div *ngIf="producto.img_url == '' ">
                        <img src="https://firebasestorage.googleapis.com/v0/b/inventario-cyc.appspot.com/o/images%2Fsinimagen.jpg?alt=media&token=2a3a77a2-a45f-4f30-9b92-9ed13a3a91fd" routerLink="/producto/{{ producto?.id }}" class="card-img-top img_producto" style="max-width: 100%; height: 350px;">
                    </div>
                    <div class="card-body">
                        <p class="card-text fs-6 nombre">{{ producto?.nombre }}</p>
                        <div class="d-flex justify-content-between">
                            <div class="card-text fs-6 nombre text-danger">{{ producto?.colegio.nombre }}</div>
                            <div class="text-end text-secondary fs-7">({{ cantTotal(producto) }} unidades)</div>
                        </div>
                        <div class="descripcion overflow-hidden">
                            <p class="card-text">{{ producto?.descripcion }}</p>
                        </div>
                        <div class="text-center">
                            <span class="text-success" *ngIf="minimo(producto) != 0">{{ minimo(producto) | pesoChileno }} -</span>
                            <span class="text-success text-align-center">{{ maximo(producto) | pesoChileno }} </span>
                        </div>           
                    </div>
                </div>
              </div>
            </div>
            <div *ngIf="productos.length == 0">
                (Aún no hay productos).          
            </div>
          </div>
    </div>       
</body>
