<body>
    <div class = "container main shadow-sm p-3 mb-5 bg-body-tertiary rounded">
        <h2>C&C Confecciones Inventario</h2>
        <div >
            <div class="p-3">
                <button type="button" class="btn btn-success" routerLink="/vender/">Vender <i class="fa-solid fa-cart-shopping"></i></button>
            </div>
            <div class="p-3">
                <button type="button" class="btn btn-success" routerLink="/ventas/">Historial de ventas <i class="fa-brands fa-sellsy"></i></button>
            </div>
            <div class="p-3">
                <button type="button" class="btn btn-success" routerLink="/colegios/">Colegios <i class="fa-solid fa-school"></i></button>
            </div>
            <div class="p-3">
                <button type="button" class="btn btn-success" routerLink="/add-producto/">Agregar Productos <i class="fa-solid fa-shirt"></i></button>
            </div>
        </div>
    </div>

</body>