body{
    padding-top: 20px;
}

.container{
    max-width: 1324px;
    margin: auto;
    text-align: center;
}

.main{
    border-radius: 8px;
    background-color: rgb(255, 255, 255);

}

h2{
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.nom-colegio{
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
}